body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #00eeff, #00f87c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: whitesmoke;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

#city-input {
    padding: 10px;
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#city-input:focus {
    outline: none;
    border-color: deepskyblue;
}

#search-button {
    padding: 10px;
    border: none;
    background-color: lightblue;
    color: white;
    border-radius: 5px;
}

#search-button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

#temp-unit-button, #wind-speed-unit-button {
    margin-top: 10px;
    padding: 5px;
    border: none;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
}

#temp-unit-button:hover,
#wind-speed-unit-button:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}